.quize__wrapper {
  width: 50%;
  margin: auto;
  height: 75vh;
  border-radius: 20px;
  background-color: rgb(226, 221, 215);
  box-shadow: rgba(226, 221, 215, 0.4) 5px 5px,
    rgba(226, 221, 215, 0.3) 10px 10px, rgba(226, 221, 215, 0.2) 15px 15px,
    rgba(226, 221, 215, 0.1) 20px 20px, rgba(226, 221, 215, 0.05) 25px 25px;
  .progress {
    width: 90%;
    border: 1px solid rgb(194, 194, 194);
    height: 5px;
    margin: 30px auto 20px;
    border-radius: 5px;
    .progress__bar {
      height: 100%;
      border-radius: 20px;
      background: linear-gradient(
        90deg,
        rgba(196, 65, 13, 1) 20%,
        rgba(183, 196, 13, 1) 68%,
        rgba(0, 202, 255, 1) 78%,
        rgb(1, 255, 234) 98%
      );
    }
  }
  h1 {
    color: rgb(80, 80, 249);
    text-align: center;
    font-size: 20px;
    margin: 0 20px;
    // height: 100px;
  }
  ul {
    padding: 0;
    .btn {
      border-radius: 0.6em;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2em 2.8em;
      text-decoration: none;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      :hover,
      :focus {
        color: #000;
        outline: 0;
      }
    }
    .third {
      border-color: rgb(173, 173, 226);
      color: #000;
      box-shadow: 0 0 40px 40px rgba(157, 157, 175, 0.2) inset,
        0 0 0 0 rgb(181, 181, 193);
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
    }
    .third:hover {
      box-shadow: 0 0 10px 0 rgb(163, 163, 181) inset,
        0 0 10px 4px rgb(170, 170, 181);
    }
  }
}
@media (max-width: 576px) {
  .quize__wrapper {
    width: 90%;
    height: 80%;
    padding: 20px 0 50px;
  }
  h1 {
    padding: 10px 0;
  }
  .quize__wrapper ul .btn {
    padding: 1.2em 0.8em;
    text-align: start;
  }
  .quize__wrapper .progress {
    margin: 0px auto 20px
  }
}
