.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  /* background-image: url(../public/img/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat; */
}

